//@font-face {
//    font-family: "1-font";
//    src: url(../assets/fonts/);
//}
//
//@font-face {
//    font-family: "2-font";
//    src: url(../assets/fonts/);
//}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 575px) {
    #app {
      display: block;
    }
  }

body {
    background-color: rgb(255, 221, 227);
    color: rgb(65, 116, 255);
    min-width: 320px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;

}

.container {
    width: 1140px;
}

.container-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh
}

.style-poster {
        border-radius: 5px;
        top: 0;
        bottom: 0;
        // position: relative;
        width: 140px;
        min-width: 140px;
        height: auto;
      }
